@import url(type.css);

*,*:before,*:after
{
  margin :0;
  padding: 0;
  box-sizing: border-box;
}

body
{
font-family: 'Lato', sans-serif;
font-size: 1.2em;
}

h1,h2
{
  font-family: 'work_sansmedium',sans-serif;
}

h2
{
  text-transform: uppercase;
  margin-bottom: 1em;
}




 h3, h4
{
  font-family: 'work_sansextralight',sans-serif;
}


.maintitle
{
  margin:0;
  padding:0;
}


.mainbook
{
    padding-top: 2em;
    line-height: 1.5em;
}

/*CUSTOM BOOSTRAP*/

.row
 {
  margin:0!important;
  padding:0!important;;
}



.jumbotron
{
  background-color: #F27300;
  color:#fff;
  border-radius: 0;
  padding: 100px 25px;
  margin-bottom:0!important;
}


.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
  background-color:#F27300!important;
  border-color: #F27300!important;
  border-radius: 0;
}

#portfolio,#about
{
  margin-top:4em;
}

#about
{
  background-color:#CCC;
  padding:0;
}

#contact
{
    background-color: #F27300;

}





.thumbnail
{
    padding-left: 20px;
/*    padding: 0 0 15px 0;
*/    border: none;
    border-radius: 0;
}

.thumbnail img
{
   width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.firstround
{
  padding-top:1em;
  padding-bottom:2em;

}


.round
{
  border-radius: 50%;
  width: 250 px;
  height: 240 px;
}







/*IDENTITY*/
.mylogo
{
  background-image: url(../images/mylogo.png);
  display:block;
  height: 80px;
  width: 80px;
  position: absolute;
  top:10px;
  left: 10px;
}

a span h1
{
  line-height: 0;
  visibility: hidden;
}



/*MAIN NAV*/


#myNavbar li a
{
color:#fff ;
}

.navbar {
  margin-bottom: 0;
  background-color: #F27300;
  z-index: 9999;
  border: 0;
  line-height: 1.42857143 !important;
  box-shadow: 0px 0px 2px 4px #C4321D;
  font-size: 1.2em !important;
  letter-spacing: 0.2em;
  border-radius: 0;
}


.navbar li a, .navbar .navbar-brand {
    font-family: 'work_sansbold',sans-serif;
    color: #fff !important;
    font-size: 1em;
    padding-left: 1em;

}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #C4321D!important;
}


/*MYARTWORK*/


.icon1
{
  display:inline-block;
  background-image: url(../images/illustration.png);
  width:195px;
  height:100px;
}

.icon2 {
  display:inline-block;
  background-image: url(../images/graphicdesign.png);
  width:195px;
  height:100px;
}

.icon3 {
  display:inline-block;
  background-image: url(../images/internet.png);
  width:195px;
  height:100px;
}

#svgart
{
  background-image: url(../images/desk01.svg);
  background-repeat: none;
/*  background-position: center;
*/  max-width:100%;
  height:375px;
}






