@import url("type.css");
@import url("font-awesome.css");


/*GENERAL SETTINGS*/


html {
  box-sizing : border-box;
}



*,* ::after, * ::before{
  box-sizing : border-box;
}



body {
font: normal 1em/1.2em "Trébuchet",Verdana, sans-serif;
background: #fff;
}



h1, h2, h3 {
  font-family: 'work_sansregular';
  margin: 0;
}



h1 {
    font-size: 1.4 em;
    font-family: 'work_sansbold';
    margin-top: 1em;
}


/*MAIN BRANDING*/




/*MAIN NAV*/



/*TOGGLE NAV*/






/*MAIN CONTENT*/








/*SECOND CONTENT*/

.portrait {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1em;
  background: url("../images/portrait.jpg")no-repeat;
  background-position: center;
  border-radius: 50%;
  width:200px ;
  height: 200px;
}







/*FOOTER*/









